//=== binary ===/

.binary__wrapper {
  border: 2px solid rgba(0, 176, 203, 0.4);
  border-radius: 8px;
  padding: 30px;

  .binary {
    width: 540px;
    height: 140px;
    font-size: 67px;
    color: #EB8B12;
  }
}

.binary__wrapper-12 {
  .binary {
    width: 750px;
  }
}
#binary_ans::placeholder {
    color: #E8E8E8;
    opacity: 0.7;
}
.binary {
  width: 220px;
  height: 100px;
  border-radius: 8px;
  box-shadow: 0px 0px 4px 0px #00B0CB inset, 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: "Days One", sans-serif;
  background: white;
  font-style: normal;
  line-height: 20px;
  font-weight: 400;
  font-size: 33px;
  color: rgba(6, 34, 48, 0.8);
  position: relative;
  transition: all .4s ease;

  .binary__count {
    position: absolute;
    left: 0px;
    top: -20%;
    font-size: 16px;
  }

  .binary__help-row {
    width: fit-content;
    position: relative;
  }

  input {
    position: absolute;
    inset: 0;
    color: transparent;
    border: none;
    background: transparent;
  }

  .entered-digits {
    color: rgba(6, 34, 48, 0.8);
    position: absolute;
    z-index: 2;
    pointer-events: none;
  }

  .binary__placeholder {
    position: relative;
    z-index: 1;
      color: #E8E8E8;
      opacity: 0.7;
    pointer-events: none;
  }

  .binary__correct {
    position: absolute;
    top: -22px;
    font-size: 16px;
    color: #00b0cb;
  }
}

.binary__focus {
  box-shadow: 0px 0px 4px 0px #EB8B12 inset, 0px 2px 4px 0px rgba(0, 0, 0, 0.25) !important;
}

.content-binary {
  gap: 27px;

  .binary-first {
    color: #EB8B12;
  }

  .binary__arrow {
    width: 80px;
    height: 55px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .binary__box {
    display: flex;
    flex-direction: column;
    gap: 6px;

    .binary {
      height: 47px;
    }
  }
}

.binary__practice {
  padding: 22px;

  .binary {
    height: 32px;
    font-size: 20px;
  }
}

@for $p from 1 through 4 {
  .binary__practice-edit-#{$p} {
    display: grid;
    grid-gap: clamp(1rem, 3vw, 1rem);
    row-gap: 25px;

    @if $p == 1 {
      grid-template-columns: repeat(auto-fit, minmax(105px, 1fr));
    }
    @if $p == 2 {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    @if $p == 3 {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    @if $p == 4 {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .binary {
      width: 100%;
      padding-right: 3px;

      .binary__count {
        position: static;
        line-height: 32px;
        font-size: 11px;
        text-align: center;
        background: rgba(0, 176, 203, 0.4);
        padding: 0 3px;
        color: #225885;
        border-radius: 8px 0 0 8px;
        min-width: 27px;
        height: 32px;
      }


      .binary__num {
        display: flex;
        flex: 1;
        justify-content: center
      }

      .binary__help-row {
        display: flex;
        flex: 1;
        justify-content: center;
        position: relative;
      }
    }
  }
}

@for $l from 1 through 4 {
  .binary__practice-edit--less-#{$l} {
    display: flex;
    flex-wrap: wrap;

    @if $l == 1 {

      .binary {
        width: 110px;
      }
    }
    @if $l == 2 {

    }
    @if $l == 3 {

    }
    @if $l == 4 {

    }
  }
}

// .binary__practice-edit--less-1 {

// }

// .binary__practice-12 {

// }

.binary__profi {
  display: flex;
  flex-direction: column;
  gap: 14px;
  position: relative;
  padding: 10px 0px !important;
}

.memory__slide {
  .binary__row-box {
    background: #FFFFFF;
  }
}

///-------- ROW 2-3-4 --------///
@for $i from 1 through 4 {
  .binary__row-#{$i} {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    align-items: center;
    justify-items: center;
    padding: 10px;

    @if $i == 1 {
      grid-template-columns: repeat(auto-fill, minmax(105px, 1fr));

      .binary {
        width: 100%;
      }
    }

    @if $i == 2 {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

      .binary {
        width: 100%;
      }
    }

    @if $i == 3 {
      grid-template-columns: repeat(auto-fill, minmax(195px, 1fr));
    }

    @if $i == 4 {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

      .binary {
        width: 100%;
      }
    }

    .binary {
      width: 100%;
      height: 32px;
      font-size: 20px;
      z-index: 1;

      &.flex-box {
        padding: 0 3px 0 1px;
      }

      .binary__cols-number {
        font-family: "Days One", sans-serif;
        font-style: normal;
        line-height: 31px;
        font-weight: 400;
        font-size: 11px;
        text-align: center;
        background: rgba(0, 176, 203, 0.4);
        padding: 0 3px;
        color: #225885;
        border-radius: 7px 0 0 7px;
        min-width: 27px;
        height: 31px;
      }

      .binary__help-row {
        display: flex;
        flex: 1;
        justify-content: center;
        position: relative;
      }
    }


    .binary__row-number {
      position: absolute;
      top: 0;
      left: 2%;
      font-family: "Days One";
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 32px;
      color: rgba(6, 34, 48, 0.8);
      z-index: 2;
    }


    .binary__row-box-help {
      width: 100%;
      height: 32px;
      position: relative;

      .binary__row-num-help {
        position: absolute;
        top: -19px;
        font-family: "Days One", sans-serif;
        font-style: normal;
        line-height: 20px;
        font-weight: 400;
        font-size: 15px;
        color: #00b0cb;
      }
    }

    .binary__row-box {
      animation: ani 1s;
      width: 100%;
      height: 32px;
      border-radius: 8px;
      box-shadow: 0px 0px 4px 0px #00B0CB inset, 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
      transition: all .4s ease;
      padding: 0 3px 0 1px;

      .binary__cols-number {
        font-family: "Days One", sans-serif;
        font-style: normal;
        line-height: 31px;
        font-weight: 400;
        font-size: 11px;
        text-align: center;
        background: rgba(0, 176, 203, 0.4);
        padding: 0 3px;
        color: #225885;
        border-radius: 7px 0 0 7px;
        min-width: 27px;
        height: 31px;
      }

      .binary__row-num {
        font-family: "Days One", sans-serif;
        font-style: normal;
        line-height: 20px;
        font-weight: 400;
        font-size: 20px;
        color: rgba(6, 34, 48, 0.8);
        display: flex;
        flex: 1;
        justify-content: center;

        .dynamic-input {
          position: absolute;
          inset: 0;
          color: transparent;
          border: none;
          background: transparent;
        }
      }
    }
  }
}

///-------- Cols --------///
@for $j from 1 through 4 {
  .binary__cols-#{$j} {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    align-items: center;
    justify-items: center;

    @if $j == 1 {
      grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));

      .binary__cols {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    @if $j == 2 {
      grid-template-columns: repeat(auto-fill, minmax(52px, 1fr));

      .binary__cols {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @if $j == 3 {
      grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));

      .binary__cols {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    @if $j == 4 {
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));

      .binary__cols {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    @if $j >= 4 {

    }

    .binary__cols-wrapper {
      animation: ani 1s;
      flex-direction: column;
      border-radius: 8px;
      box-shadow: 0px 0px 4px 0px #00B0CB inset, 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
      background: #FFFFFF;
      position: relative;
      transition: all .4s ease;

      .binary__cols-number {
        background: rgba(0, 176, 203, 0.4);
        border-radius: 7px 7px 0 0;
        color: #225885;
        font-family: "Days One", sans-serif;
        font-style: normal;
        line-height: 20px;
        font-weight: 400;
        font-size: 11px;
        text-align: center;
      }

      .binary__cols {
        padding: 5px;
        display: grid;
        gap: 5px;
        font-family: "Days One", sans-serif;
        font-style: normal;
        line-height: 20px;
        font-weight: 400;
        font-size: 20px;
        text-align: center;

        .numberBox {
          width: 18px;
          height: 20px;
        }

        .index-1 {
          grid-area: 1 / 1 / 2 / 2;
        }

        .index-2 {
          grid-area: 2 / 1 / 3 / 2;
        }

        .index-3 {
          grid-area: 3 / 1 / 4 / 2;
        }

        .index-4 {
          grid-area: 1 / 2 / 2 / 3;
        }

        .index-5 {
          grid-area: 2 / 2 / 3 / 3;
        }

        .index-6 {
          grid-area: 3 / 2 / 4 / 3;
        }

        .index-7 {
          grid-area: 1 / 3 / 2 / 4;
        }

        .index-8 {
          grid-area: 2 / 3 / 3 / 4;
        }

        .index-9 {
          grid-area: 3 / 3 / 4 / 4;
        }

        .index-10 {
          grid-area: 1 / 4 / 2 / 5;
        }

        .index-11 {
          grid-area: 2 / 4 / 3 / 5;
        }

        .index-12 {
          grid-area: 3 / 4 / 4 / 5;
        }

        .number-animation {
          animation: number 1.5s infinite ease;
        }

        @keyframes number {
          0% {
            opacity: 1;
          }

          50% {
            opacity: 0;
          }

          100% {
            opacity: 1;
          }
        }
      }

      .binary__cols-placeholder {
        color: #E8E8E8;
        opacity: 0.7;
      }

      .binary__cols-wrap {
        position: absolute;
        top: 20px;
        caret-color: transparent;
        color: rgba(6, 34, 48, 0.8);
      }

      .dynamic-input {
        position: absolute;
        inset: 0;
        color: transparent;
        border: none;
        background: transparent;
      }
    }

    .binary__cols-box {
      width: 100%;
      height: 30px;
      border-radius: 8px;
      box-shadow: 0px 0px 4px 0px #00B0CB inset, 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
      transition: all .4s ease;

      .binary__cols-num {
        font-family: "Days One", sans-serif;
        font-style: normal;
        line-height: 20px;
        font-weight: 400;
        font-size: 22px;
        color: rgba(6, 34, 48, 0.8);
        position: relative;

        .dynamic-input {
          position: absolute;
          inset: 0;
          color: transparent;
          border: none;
          background: transparent;
        }
      }
    }
  }
}

//--------------------------------------------------------------------------------------------------//
