/vendor/
node_modules/
npm-debug.log
yarn-error.log
.DS_Store
# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

/public/build
/storage/pail
.env.backup
.env.production
.phpactor.json
auth.json

composer.lock
composer.bat

.editorconfig

docker-compose.override.yml

/node_modules
/public/hot
/public/useruploads/*
/public/storage
/public/fonts
/public/images
/public/css/admin.css
/public/css/student.css
/public/css/fonts.css
/public/js/admin.js
/public/mix-manifest.json
/public/git_up.php
/bootstrap/cache
/storage
/vendor/*
!/vendor/space-memory/
!/vendor/space-memory/shared-memory-olympiad/
!/vendor/space-memory/shared-memory-olympiad/**

/.idea/
/workshop/
/public/media/
/public/test/
/public/site-template/node_modules/
/node_modules/
/public/assets/
/public/css/

