@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Thin.eot');
    src: local('../fonts/Roboto-Thin'),
    url('../fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Thin.woff') format('woff'),
    url('../fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.eot');
    src: local('../fonts/Roboto-Light'),
    url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Light.woff') format('woff'),
    url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: local('../fonts/Roboto-Regular'),
    url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.eot');
    src: local('../fonts/Roboto-Medium'),
    url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Medium.woff') format('woff'),
    url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.eot');
    src: local('../fonts/Roboto-Bold'),
    url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.eot');
    src: local('../fonts/Roboto-Black'),
    url('../fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Black.woff') format('woff'),
    url('../fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.eot');
    src: local('../fonts/Inter-Regular'),
    url('../fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter-Regular.woff') format('woff'),
    url('../fonts/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Medium.eot');
    src: local('../fonts/Inter-Medium'),
    url('../fonts/Inter-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter-Medium.woff') format('woff'),
    url('../fonts/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.eot');
    src: local('../fonts/Inter-Bold'),
    url('../fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter-Bold.woff') format('woff'),
    url('../fonts/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
//----------- Days One

@font-face {
    font-family: "Days One";
    src: url('../fonts/Manrope-Bold.eot');
    src: local('../fonts/Manrope-Bold'),
    url('../fonts/Manrope-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Manrope-Bold.woff') format('woff'),
    url('../fonts/Manrope-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Days One";
    src: url('../fonts/Manrope-Light.eot');
    src: local('../fonts/Manrope-Light'),
    url('../fonts/Manrope-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Manrope-Light.woff') format('woff'),
    url('../fonts/Manrope-Light.woff2') format('woff2'),
    url('../fonts/Manrope-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Days One";
    src: url('../fonts/Manrope-Regular.eot');
    src: local('../fonts/Manrope-Regular'),
    url('../fonts/Manrope-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Manrope-Regular.woff') format('woff'),
    url('../fonts/Manrope-Regular.woff2') format('woff2'),
    url('../fonts/Manrope-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Days One";
    src: url('../fonts/Manrope-Medium.eot');
    src: local('../fonts/Manrope-Medium'),
    url('../fonts/Manrope-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Manrope-Medium.woff') format('woff'),
    url('../fonts/Manrope-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: "Days One";
    src: url('../fonts/Manrope-Bold.eot');
    src: local('../fonts/Manrope-Bold'),
    url('../fonts/Manrope-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Manrope-Bold.woff') format('woff'),
    url('../fonts/Manrope-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}




//----------- Manrope
@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope.eot");
    src: url("../fonts/Manrope.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Manrope.ttf") format("truetype"),
    url("../fonts/Manrope.woff") format("woff");

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-Bold.eot");
    src: url("../fonts/Manrope-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Manrope-Bold.ttf") format("truetype"),
    url("../fonts/Manrope-Bold.woff2") format("woff2");

    font-weight: 900;
    font-style: normal;
}
//-------------- Mulish

@font-face {
    font-family: 'Mulish';
    src: url('../fonts/Manrope-Light.eot');
    src: local('../fonts/Manrope-Light'),
    url('../fonts/Manrope-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Manrope-Light.woff') format('woff'),
    url('../fonts/Manrope-Light.woff2') format('woff2'),
    url('../fonts/Manrope-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Mulish';
    src: url('../fonts/Manrope-Regular.eot');
    src: local('../fonts/Manrope-Regular'),
    url('../fonts/Manrope-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Manrope-Regular.woff') format('woff'),
    url('../fonts/Manrope-Regular.woff2') format('woff2'),
    url('../fonts/Manrope-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Mulish';
    src: url('../fonts/Manrope-Medium.eot');
    src: local('../fonts/Manrope-Medium'),
    url('../fonts/Manrope-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Manrope-Medium.woff') format('woff'),
    url('../fonts/Manrope-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Mulish';
    src: url('../fonts/Manrope-Bold.eot');
    src: local('../fonts/Manrope-Bold'),
    url('../fonts/Manrope-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Manrope-Bold.woff') format('woff'),
    url('../fonts/Manrope-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


//* {
//    font-family: "Days One" ;
//    font-weight: bold;
//}
//body {
//    font-family: "Days One" ;
//    font-weight: bold;
//}
.fa {
    font-family:"FontAwesome";
}
