.student-calendar {
    width: 100%;
    height: 118vh;
    background: url('/images/student_bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
    padding-left: 76px;
    display: flex;
    justify-content: center;

        .student-calendar_block {
            width: 85%;
            height: 98%;
            display: flex;
            flex-direction: column;

                .student-calendar_header {
                    width: 100%;
                    height: 16%;
                    display: flex;

                        .student-calendar_header-bg {
                            width: 35%;
                            height: 100%;
                            background: url('/images/calendar_header.png');
                            background-repeat: no-repeat;
                            background-position: center;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                                p {
                                    font-family: 'Days One';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 18px;
                                    line-height: 150%;
                                    text-align: center;
                                    font-variant: small-caps;
                                    color: #FFFFFF;
                                    margin: 0;
                                }
                        }
                }
        }

        .student-calendar_card {
            width: 100%;
            height: 84%;
            background: url('/images/calendar_card.png') no-repeat left local;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;

                .student-calendar_body {
                    width: 100%;
                    height: 80%;
                }

                .student-calendar_footer {
                    width: 50%;
                    height: 8%;
                    display: flex;
                    margin-left: 35px;
                    margin-top: 50px;
                    background: #FEFFFF;
                    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.25);

                        .student-calendar_footer-cell {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 33.33333333333333%;

                                p {
                                    font-family: 'Days One';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 14px;
                                    line-height: 22px;
                                    display: flex;
                                    align-items: center;
                                    font-variant: small-caps;
                                    color: #062230;
                                    margin: 0;
                                }
                        }
                }
        }
}

.fc-header-toolbar {
    width: 29% !important;
    padding: 15pt 0 40px 80px !important;
    margin: 0 !important;
}

button.fc-prev-button.fc-button.fc-button-primary {
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #062230;
}

button.fc-next-button.fc-button.fc-button-primary {
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #062230;
}

button.fc-button.fc-button-primary span:before {
    color: #062230;
}

.fc-toolbar-title {
    font-family: 'Days One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px !important;
    line-height: 150% !important;
    display: flex;
    align-items: center;
    text-align: center;
    font-variant: small-caps;
    color: #062230 !important;
}

.fc-view-harness {
    width: 100% !important;
    height: 100% !important;
    overflow: hidden;
}

.fc-view {
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    justify-content: center !important;
}

.fc-theme-standard .fc-scrollgrid {
    width: 80% !important;
    height: 100% !important;
    border: none !important;
    border-radius: 0;
}

thead {
    //height: 16%;
}

tr {
    height: 20%;
}

th {
    border: none !important;
}

.fc-theme-standard td, .fc-theme-standard th {
    border: none !important;
}


.fc-scroller-harness {
    border-radius: 0 !important;
    height: 100%;
}

.fc-scroller {
    height: 100%;
}
.fc-scrollgrid-sync-inner {
    height: 100%;
}
table.fc-col-header {
    height: 100% !important;
    background-color: #D8D8D8;

    .fc-col-header-cell-cushion {
        height: 100%;
        background: #062230;
        border: 2px solid #1FFCFF;
        box-shadow: inset 0 0 23px #1FFCFF;
        padding: 0;
        font-family: 'Days One';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-transform: uppercase;
        font-variant: small-caps;
        color: #FFFFFF !important;
    }
}

.fc-daygrid-day-frame {
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(6, 34, 48, 0.4);
}

.fc .fc-daygrid-day.fc-day-today {
    background-color: black !important;
}
.fc-daygrid-day-top {
    height: 60%;
    display: flex;
    flex-direction: row !important;
    align-items: center;

        .fc-daygrid-day-number {
            padding: 0 0 0 3px !important;
            font-family: 'Days One';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 32px;
        }

        .cell-top {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

                p {
                    font-family: 'Days One';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 32px;
                    margin: 0;
                    padding-left: 3px;
                }

                .add_event {
                    background: transparent;
                    border: none;
                    padding: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                        &:hover {
                            opacity: .7;
                        }
                }
        }
}



































button.fc-button.fc-button-primary {
    background: #FCFBFB;
    border: 1px solid #DADCDE;
    box-sizing: border-box;
    padding: 6px 3px 7px;
}



button.fc-button.fc-button-primary:hover,
button.fc-button.fc-button-primary:active {
    background-color: #DADCDE !important;
    border-color: #DADCDE !important;
}

button.fc-button.fc-button-primary:focus {
    box-shadow: none !important;
}


//tr.fc-scrollgrid-section.fc-scrollgrid-section-header > th,
//tr.fc-scrollgrid-section.fc-scrollgrid-section-header > th .fc-scroller-harness {
//    border-radius: 10px 10px 0 0;
//}

.fc .fc-scrollgrid-section > td {
    border-radius: 10px;
}




.demo-app-calendar {
    display: flex;
    min-height: 100%;
    font-size: 14px;
    position: relative;
    .fc-scrollgrid-sync-table{
        background-color: white;
    }
    .fc {
        max-width: 100%;
        margin: 0 auto;

        .fc-toolbar {
            width: fit-content;

            .fc-toolbar-title {
                width: 130px;
                margin: 0 1px !important;
                background: #FCFBFB;
                border: 1px solid #DADCDE;
                box-sizing: border-box;
                font-family: 'Inter';
                font-weight: normal;
                font-size: 12px !important;
                line-height: 16px;
                text-align: center;
                color: #18181B;
                padding: 10px 17px;
                text-transform: capitalize;
            }
        }

        .fc-h-event {
            background: #D8D8D84D;
            border-radius: 30px !important;
            border-color: #D8D8D84D;

            .fc-event-title {
                font-family: 'Inter';
                font-size: 11px;
                line-height: 13px;
                color: #778192;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .fc-daygrid-event {
            margin-top: 3px;
            padding: 4px 12px;
        }

        .fc-day-other {
            .fc-daygrid-day-top {
                color: #D8D8D8;
                opacity: 1 !important;
            }
        }

        .fc-daygrid-day-top {
            display: flex;
            flex-direction: row !important;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
            color: #2B4754;
        }

        .fc-daygrid-day.fc-day-today {
            background-color: transparent !important;

            .fc-daygrid-day-top {
                font-family: 'Inter';
                font-weight: 800;
                font-size: 16px;
                line-height: 32px;
                color: #00B0CB;
            }
        }

        .fc-daygrid-day-frame {
            padding: 4px 8px;
            background-color: #fff;
        }

        .fc-daygrid-day-number {
            position: relative;
            z-index: 4;
            padding: 0;
            line-height: 16px;
        }

        .cell-top {
            width: 100%;
            display: flex;
            align-items: center;

            p {
                margin: 0;
            }

            .menu, .drop-menu {
                list-style-type: none;
                padding: 0;
                margin: 0;
            }

            .menu-item {
                display: inline-block;
                position: relative;

                & > a {
                    text-decoration: none;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &:hover .drop-menu {
                    display: block;
                }
            }

            .drop-menu {
                display: none;
                position: absolute;
                background-color: #fff;
                min-width: 121px;
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
                z-index: 40;
                left: -90px;

                .drop-menu-item {
                    width: 100%;
                    padding: 0 5px;
                    box-sizing: border-box;

                    &:hover {
                        background-color: #eee;
                    }

                    a {
                        font-family: 'Mulish';
                        font-size: 11px;
                        line-height: 18px;
                        color: #000000;
                        text-decoration: none;

                        svg {
                            width: 15px;
                        }
                    }
                }
            }
        }
    }
}




/*---dropdown---*/

.calendar-dropdown_container {
    position: absolute;
    right: 0;

    @media screen and (max-width: 1300px) {
        position: static;
        margin-bottom: 15px;
    }

    .calendar-dropdown {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 250px;

        select {
            width: 100%;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            padding: 10px 21px 9px 21px;
            margin: 0;
            text-indent: 0.01px;
            background: #FFFFFF;
            border: 1px solid #DADCDE;
            box-sizing: border-box;
            border-radius: 30px;
            font-family: "Mulish";
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 150%;
            letter-spacing: 0.02em;
            color: #333333;
            cursor: pointer;
            outline: transparent;

            option {
                padding: 12px;
                min-height: 40px;
                line-height: 16px;

                &:hover {
                    background: #4CCBD133 !important;
                }
            }

            &[disabled] {
                color: rgba(0, 0, 0, .3);
            }

            &[disabled]::after {
                color: rgba(0, 0, 0, .1);
            }
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            pointer-events: none;
        }

        &::after { /*  calendar dropdown arrow */
            content: "";
            line-height: 1;
            right: 14px;
            top: 0;
            bottom: 0;
            margin: auto;
            background-image: url("../../../../images/arrow-light.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 12px;
            height: 6px;
        }

        &::before { /*  calendar dropdown arrow cover */
            width: 35px;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: #00B0CB;
            border: 1px solid #DADCDE;
            box-sizing: border-box;
            border-radius: 0 30px 30px 0;
        }

        &::after {
            color: rgba(0, 0, 0, .4);
        }
    }
}

/*---dropdown---*/
