// Adaptive for words

@media only screen and (min-width: 320px) and (max-width: 1500px) {
    //practice
    //form-edit

    /*.selection__box {
        height: 45% !important;
        flex-direction: column;
    }

    .selection__cell {
        width: 70% !important;
        height: 45% !important;
    }

    .selection__line {
        height: 10% !important;
    }

     */

    //--------------------------------------------------------------------------------------------------//
}

//--------------------------------------------------------------------------------------------------//
