//=== faces ===/

.cards__number-show {
  //grid-area: 1 / 1 / 3 / 3;"
  grid-row-start: 1;
  grid-column-start: 4;
  grid-row-end: 3;
  grid-column-end: 6;
  font-family: "Days One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  color: rgba(6, 34, 48, 0.6);
  gap: 10px;

  figure {
    width: 40px;
    height: 40px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.cards__number-edit {
  display: flex;
  align-items: center;
  position: absolute;
  right: 20px;
  top: 0px;
  font-family: "Days One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 32px;
  color: rgba(6, 34, 48, 0.6);
  gap: 10px;

  figure {
    width: 35px;
    height: 35px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.cards__wrap-show {
  width: 100%;
  position: relative;
  flex-grow: 1;

  .cards__wrap-show-scroll {
    width: 100%;
    height: 100%;

    .cards__show {
      width: 100%;
      // height: 300px;
      height: 30vh;
      display: flex;
      justify-content: center;
      gap: 20px;
      position: relative;

      .playing-cards-show {
        // width: 216px;
        // height: 300px;
        width: 21vh;
        height: 30vh;
        border: 1px solid black;
        border-radius: 10px;
        position: absolute;
        background: white;
        top: 50%;
        left: 50%;
      }

      .playing-cards-show-new {
        position: relative;
        left: inherit;
        top: inherit;
      }
    }

    @for $i from 1 through 8 {
      .cards__show-#{$i} {
        $translate: -50% - ($i - 1) * 15%;
        $z-index-start: 1;

        .playing-cards-show {
          @for $j from 1 through $i {
            &:nth-child(#{$j}) {
              z-index: $z-index-start;
              transform: translate($translate, -50%);
              $z-index-start: $z-index-start + 1;
              $translate: $translate + 30%;
            }
          }
        }
      }
    }

    .cards__wrap-top-show {
      width: 100%;
      height: 171px;
      position: relative;
      margin: 0px 0px 20px 0px;

      $z-index-start: 1;
      $left-start: 0;

      .playing-cards-cell-wrap {
        width: 134px;
        height: 171px;
        position: absolute;

        @for $i from 1 through 100 {
          &:nth-child(#{$i}) {
            z-index: $z-index-start;
            left: $left-start;
            $z-index-start: $z-index-start + 1;
            $left-start: $left-start + 67px;
          }
        }

        .playing-cards-cell {
          width: 134px;
          height: 171px;
          box-shadow: inset 0 0 4px 0 #00b0cb, 0 0 4px 0 rgba(5, 31, 44, 0.2);
          background: #feffff;
          border-radius: 10px;
          position: relative;

          .playing-cards {
            border: none;
            width: 124px;
            height: 161px;
          }
        }

        p {
          font-family: "Days One", sans-serif;
          font-weight: 400;
          font-size: 18px;
          color: rgba(6, 34, 48, 0.8);
          opacity: 50%;
          position: absolute;
          left: 10px;
          bottom: 10px;
          margin: 0px;
          z-index: 1000;
        }
      }

      &:last-child {
        margin: 0px;
      }
    }

    &::-webkit-scrollbar {
      background: rgba(0, 176, 203, 0.4);
      border-radius: 5px;
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #EB8B12;
      border-radius: 5px;
    }
  }
}

.cards__wrap-show-edit {
  @include main-border-bg;
  padding: 10px 20px;
  overflow: auto;

  .cards__wrap-show-scroll-edit {
    overflow-y: auto;
    overflow-x: hidden;

    .cards__show {
      width: 194px;
      height: 171px;

      .playing-cards-show {
        width: 120px;
        height: 100%;
        border: none;
        background: transparent;

        .playing-cards-cell {
          width: 100%;
          height: 100%;
          box-shadow: inset 0 0 4px 0 #00b0cb, 0 0 4px 0 rgba(5, 31, 44, 0.2);
          background: #feffff;
          border-radius: 10px;
          position: relative;

          .playing-cards {
            border: none;
            width: 92%;
            height: 90%;
            left: 0px !important;
            position: relative;
          }
        }

        p {
          font-family: "Days One", sans-serif;
          font-weight: 400;
          font-size: 18px;
          color: rgba(6, 34, 48, 0.8);
          opacity: 50%;
          position: absolute;
          left: 10px;
          bottom: 10px;
          margin: 0px;
          z-index: 1000;
        }
      }
    }
  }

  .cards__wrap-show-scroll-edit-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: clamp(1rem, 3vw, 1rem);
    align-items: center;
    justify-items: center;
  }

  .cards__wrap-show-scroll-edit-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}

.cards__wrap-learn {
  gap: 68px;

  .cards__show-learn {
    width: 240px;
    height: 346px;
    border: 1px solid black;
    border-radius: 10px;
    background: #FFFFFF;
  }

  .cards__show-edit-learn {
    width: 185px;
    height: 250px;

    .playing-cards {
      width: 134px;
      height: 187px;
      position: relative;
      left: 0px !important;
    }
  }

  .cards__show-learn-photo {
    width: 90px;

    img {
      width: 100%;
    }
  }

  .cards__show-photo-learn {
    width: 346px;
    height: 346px;
    border: 1px solid black;
    border-radius: 10px;
    background: #FFFFFF;

    img {
      width: 80%;
      height: 80%;
      border-radius: 10px;
    }

    .cards__bottom {
      width: 80%;
      height: 80%;
      border-radius: 10px;
      box-shadow: none;

      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
    }
  }

  .cards__show-photo-learn-edit {
    width: 250px;
    height: 250px;
  }

  .cards__show-border-learn {
    border: none;
    box-shadow: inset 0 0 4px 2px #00b0cb, 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  }
}

.cards__wrap-bottom-show {
  width: 100%;
  // min-height: 130px;
  min-height: 150px;
  display: flex;
  align-items: end;
  position: relative;

  $z-index-start: 1;
  $left-start: 0;

  .cards__wrap-bottom-learn {
    width: 100%;
    max-width: 1200px;
    height: 120px;
    border: 2px solid rgba(0, 176, 203, 0.4);
    border-radius: 16px;
    background: rgba(23, 183, 176, .04);
    padding: 25px 10px 10px 10px;

    .cards__bottom-learn {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      position: relative;

      .playing-cards {
        bottom: 0px;

        @media (max-height: 800px) {
          width: 84px;
          height: 115px;
        }
      }

      .playing-cards-hover {
        &:hover {
          bottom: -8px;
        }
      }
    }

    .cards__bottom-learn-grid {
      width: 100%;
      height: 100%;
      position: relative;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-column-gap: 15px;
      align-content: end;
      justify-items: center;

      .cards__bottom-group-wrap {
        width: 140px;
        height: 123px;
        display: flex;
        flex-direction: column;

        .cards__bottom-group-number {
          font-family: "Days One", sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          text-align: center;
          color: #00b0cb;
          opacity: 0.5;
        }

        .cards__show {
          height: 100%;
          flex-grow: 1;
          display: flex;
          position: relative;

          .playing-cards-show {
            height: 100%;
            border: 1px solid black;
            border-radius: 10px;
            position: absolute;
            background: white;
            top: 50%;
            left: 50%;
          }
        }

        @for $i from 1 through 8 {
          .cards__show-#{$i} {
            $translate: -50% - ($i - 1) * 15%;
            $z-index-start: 1;

            .playing-cards-show {
              @for $j from 1 through $i {
                &:nth-child(#{$j}) {
                  z-index: $z-index-start;
                  transform: translate($translate, -50%);
                  $z-index-start: $z-index-start + 1;
                  $translate: $translate + 30%;
                }
              }
            }
          }
        }
      }
    }
  }

  .playing-cards-hover {
    transition: all .1s ease-in-out;

    &:hover {
      width: 102px;
      height: 139px;
    }
  }
}

.cards__wrap-bottom-show-learn {
  height: 150px;
  padding-bottom: 10px;

  .cards__wrap-bottom-learn {
    padding: 10px;
    height: 145px;

    .cards__bottom-learn {
      .cards__bottom {
        width: 90px;
        height: 90px;

        .playing-cards-wrap {

          img {
            width: 80px;
            height: 80px;
            border-radius: 10px;
          }
        }
      }
    }
  }
}

.cards__wrap-edit {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  overflow-y: scroll;
  overflow-x: hidden;

  .cards__cell-wrap-edit {
    display: flex;
    flex-direction: column;

    .cards__cell-number-edit {
      width: 100%;
      height: 40px;
    }

    .cards__cell-box {
      width: 100%;
      height: 125px;
      position: relative;

      .cell__playing-cards {
        width: 102px;
        height: 123px;
        border: 1px solid black;
        border-radius: 10px;
        background: #FFFFFF;
        position: absolute;
        top: 50%;
        left: 50%;

        .playing-cards {
          width: 102px;
        }

        &:nth-child(1) {
          z-index: 1;
          transform: translate(-100%, -50%);
        }

        &:nth-child(2) {
          z-index: 1;
          transform: translate(-50%, -50%);
        }

        &:nth-child(3) {
          z-index: 1;
          transform: translate(0%, -50%);
        }
      }
    }
  }

  &::-webkit-scrollbar {
    background: rgba(0, 176, 203, 0.4);
    border-radius: 5px;
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #EB8B12;
    border-radius: 5px;
  }

  &:root {
    scrollbar-width: thin;
    scrollbar-color: #EB8B12 rgba(0, 176, 203, 0.4);
  }
}

.deck__number {
  position: absolute;
  transform: translate(-50%, -50%) rotate(-90deg);
  top: 50%;
  left: 9px;
  z-index: 10;
  font-family: "Days One", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  color: rgba(6, 34, 48, 0.8);
}

.card__result-correct {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;

  .cards__result-slide-wrap {
    width: 100%;
    height: 100%;
    position: relative;

    .cards__result {
      padding: 15px;
      display: flex;
      flex-direction: column;
      position: relative;
      border-radius: 16px;

      .cards__result-title {
        position: absolute;
        top: 0;
        left: 37px;
        height: 100%;
        font-family: "Days One", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        color: rgba(6, 34, 48, 0.8);
      }

      .cards__result-slide {
        width: 100%;
        height: 100%;
        display: flex;
        justify-items: center;
        gap: 10px;

        .cards__result-slide-cell {
          width: 20%;
          display: flex;
          flex-direction: column;

          .cards__result-slide-cell-number {
            font-family: "Days One", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            text-align: center;
            color: #00b0cb;
            opacity: 0.5;
          }

          .cards__show {
            width: 100%;
            height: 100%;
            flex-grow: 1;

            .playing-cards-show {
              .playing-cards-cell {
                .playing-cards {
                  .playing-cards-wrap {
                    img {
                      width: 88%;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .cards__result-slide-row {
        width: 100%;
        height: 100%;
        position: relative;

        $z-index-start: 1;
        $left-start: 0;

        .playing-cards-cell-wrap {
          height: 100%;
          position: absolute;

          @for $i from 1 through 100 {
            &:nth-child(#{$i}) {
              z-index: $z-index-start;
              left: $left-start;
              $z-index-start: $z-index-start + 1;
              $left-start: $left-start + 67px;
            }
          }

          .playing-cards-cell {
            width: 100%;
            height: 100%;
            box-shadow: inset 0 0 4px 0 #00b0cb, 0 0 4px 0 rgba(5, 31, 44, 0.2);
            background: #feffff;
            border-radius: 10px;
            position: relative;

            .playing-cards {
              border: none;
              width: 124px;
              height: 161px;
            }
          }

          p {
            font-family: "Days One", sans-serif;
            font-weight: 400;
            font-size: 14px;
            color: rgba(6, 34, 48, 0.8);
            opacity: 50%;
            position: absolute;
            left: 7px;
            bottom: 7px;
            margin: 0px;
            z-index: 1000;
          }
        }
      }
    }
  }

  .card__result-btn-wrap {
    width: 40px;
    height: 100%;
    position: absolute;
    right: -20px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;

    .memory__result-btn {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 2px solid rgba(0, 176, 203, 0.4);
      background: #FFFFFF;

      img {
        width: 55%;
        height: 60%;
      }

      &:first-child {
        img {
          transform: rotate(180deg);
        }
      }
    }
  }
}

.cards__wrap-result {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0px 7px;
  overflow-y: scroll;
  overflow-x: hidden;

  .cards__row-result {
    width: 100%;
    display: flex;
    padding: 20px;

    .cards__cell-wrap-result {
      width: 20%;
      display: flex;
      flex-direction: column;

      .cards__cell-number-result {
        width: 100%;
        height: 40px;
      }

      .cards__cell-box {
        width: 100%;
        height: 125px;
        position: relative;

        .cell__playing-cards {
          width: 102px;
          height: 123px;
          border-radius: 10px;
          background: #FFFFFF;
          position: absolute;
          top: 50%;
          left: 50%;

          .playing-cards {
            width: 102px;
          }

          &:nth-child(1) {
            z-index: 1;
            transform: translate(-100%, -50%);
          }

          &:nth-child(2) {
            z-index: 1;
            transform: translate(-50%, -50%);
          }

          &:nth-child(3) {
            z-index: 1;
            transform: translate(0%, -50%);
          }
        }
      }
    }
  }

  .cards__wrap-corr-result {
    background: rgba(0, 176, 203, .2);
    border-radius: 10px;
  }

  &::-webkit-scrollbar {
    background: rgba(0, 176, 203, 0.4);
    border-radius: 5px;
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #EB8B12;
    border-radius: 5px;
  }

  &:root {
    scrollbar-width: thin;
    scrollbar-color: #EB8B12 rgba(0, 176, 203, 0.4);
  }
}

.cards__bottom {
  width: 50px;
  height: 50px;
  box-shadow: inset 0 0 4px 0 #00b0cb, 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  border-radius: 10px;
}

.playing-cards {
  width: 86px;
  height: 123px;
  border: 1px solid black;
  border-radius: 10px;
  position: absolute;
  background: #FFFFFF;
  cursor: grab;
}

.playing-cards-wrap {
  width: 100%;
  height: 100%;
  padding: 2px 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: 92%;
  }
}

.correct {
  border: none !important;
  box-shadow: inset 0 0 4px 0 #04cb00, 0 0 4px 0 rgba(5, 31, 44, 0.2) !important;
}

.incorrect {
  border: none !important;
  box-shadow: inset 0 0 4px 0 #f00, 0 0 4px 0 rgba(5, 31, 44, 0.2) !important;
}

//--------------------------------------------------------------------------------------------------//
