//form-show

.form-test {
    width: 100%;
    height: 100vh;
    background: url('/images/training_background.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding: 15px;

    &_card {
        overflow: hidden;
        width: 95%;
        height: 100%;
        min-height: 95vh;
        margin: 0px auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        background: url('/images/training_card.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}

.form-test_back {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    position: fixed;
    left: 12%;
    top: 3%;

    p {
        font-family: "Days One";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        display: flex;
        margin: 0px;
        padding-bottom: 3px;
        justify-content: center;
        align-items: center;
        font-variant: small-caps;
        color: #FEFFFF;
    }
}

a:hover {
    text-decoration: none;
}

.form-test_header {
    width: 100%;
    text-align: center;

    p {
        margin-bottom: -0.1rem !important;
        width: 100%;
        font-family: "Days One";
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        font-variant: small-caps;
        color: rgba(6, 34, 48, 0.8);
    }

    img {
        opacity: 0.9;
    }

    .form-test_header-text {
        width: 100%;
        font-family: 'Days One';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        font-variant: small-caps;
        color: rgba(6, 34, 48, 0.8);
    }
}

.body-height {
    height: 52%;
}

.form-test_markup {
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.form-test_body {
    border: 2px solid rgba(0, 176, 203, 0.4);
    border-radius: 37px;
    padding: 24px;
    display: flex;
    width: 100%;
    height: 80%;

    .form-test_border {
        width: 9%;
        height: 52vh;
        background: rgba(23, 183, 208, 0.04);
        border-radius: 16px;
        margin: 0px 8px;
        visibility: hidden;
    }

    .form-test_num {
        width: 100%;
        display: inline-flex;
        height: 100%;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .num-border {
        width: 100%;
        padding-left: 0%;
        padding-right: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(254, 255, 255, 0.2);
        border-radius: 8px;
        margin: 3px;
    }

    .hidden {
        font-family: 'Days One';
        font-style: normal;
        font-weight: 400;
        text-align: center;
        font-size: 20px;
        line-height: 32px;
        font-variant: small-caps;
        color: rgba(6, 34, 48, 0.8);
    }
}

.form-test_num::-webkit-scrollbar {
    background: rgba(0, 176, 203, 0.4);
    border-radius: 5px;
    width: 4px;
    height: 332px;
}

.form-test_num::-webkit-scrollbar-thumb {
    width: 8px;
    height: 101px;
    background: #EB8B12;
    border-radius: 5px;
}

.form-test_count-show {
    display: flex;
    width: 100%;
    height: 20%;
    align-items: center;
    flex-direction: row;
}

.textEffect {
    animation: ani 1s;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    opacity: 1;
    display: flex;
    justify-content: center;
    background: rgba(254, 255, 255, 0.2);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 4px #00B0CB;
    border-radius: 8px;
}

@keyframes ani {
    0% {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 4px #EB8B12;
    }
    100% {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 4px #00B0CB;

    }
}

//********************//


// form-edit
.check_form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;

    .form-test_count {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 16px;
        width: 100%;
        height: 15%;
        margin-bottom: 7px;
        margin-top: 10px;
    }
}

.form-test_block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 83%;
    padding: 3px;
    position: relative;
    margin-left: 2px;
}

.sys_check {
    font-family: "Days One";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    position: absolute;
    line-height: 32px;
    font-variant: small-caps;
    color: #00B0CB;
    top: -43%;
}

.counter {
    width: 19%;
    display: flex;
    justify-content: center;
    font-family: "Days One";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    position: absolute;
    line-height: 32px;
    top: -24%;
    left: -6%;
    font-variant: small-caps;
    color: rgba(6, 34, 48, 0.8);
}


.check_form::-webkit-scrollbar {
    background: rgba(0, 176, 203, 0.4);
    border-radius: 5px;
    width: 4px;
    height: 332px;
}

.check_form::-webkit-scrollbar-thumb {
    width: 8px;
    height: 101px;
    background: #EB8B12;
    border-radius: 5px;
}

.input {
    width: 100%;
    font-family: "Days One";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 32px;
    font-variant: small-caps;
    color: rgba(6, 34, 48, 0.8);
    display: flex;
    background: rgba(254, 255, 255, 1);
    box-shadow: 0px 2px 4px rgb(0 0 0 / 25%), inset 0px 0px 4px #00b0cb;
    align-items: center;
    border: none;
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
    justify-content: center;
    border-radius: 8px;
    transition: all 0.4s;
}

.input:focus {
    border: none;
    background: rgba(254, 255, 255, 1);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 4px #EB8B12 !important;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}


.btn-flex {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-row {
    width: 231px;
}

.btn-width {
    width: 284px;
    height: 71px;
    font-size: 24px;
}

.btn-height {
    width: 231px !important;
    height: 65px !important;
}

.btn-font-size {
    font-size: 22px;
}

.btn-main-menu {
    width: 284px;
    height: 71px;
    border: none;
    font-family: 'Days One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    font-variant: small-caps;
    color: #FEFFFF;
    background: url('/images/blue_btn.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.btn-verify {
    width: 284px;
    height: 71px;
    border: none;
    font-family: 'Days One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    font-variant: small-caps;
    color: #FEFFFF;
    background: url('/images/blue_btn.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.btn-try-again {
    width: 284px;
    height: 71px;
    border: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background: url('/images/orange_btn.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    font-family: 'Days One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px !important;
    line-height: 32px;
    font-variant: small-caps;
    color: #FEFFFF;

    p {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FEFFFF;
    }
}

.bg-error {
    color: #EB5757 !important;
}

.bg-good {
    color: #31C62E !important;
}


//--------------------------------------------------------------------------------------------------//

//form-congrats

.card__congrats {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card__congrats-text {
    width: 100%;
    height: 80%;
    padding-bottom: 70px;
    font-family: "Days One", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    line-height: 32px;
    text-align: center;
    font-variant: small-caps;
    color: #EB8B12;
}

.btn-congrats {
    width: 100%;
    height: 20%;
}

.btn__congrats-left {
    margin-right: 10px;
}

.btn__congrats-right {
    margin-left: 10px;
}

//--------------------------------------------------------------------------------------------------//
.admin-check {
    position: absolute;
    top: 9%;
}
