.sidebar-fixed {
    .sidebar {
        background: radial-gradient(83.55% 73.47% at 50.21% 26.53%, #08293A 0%, #05212E 99.48%);
        box-shadow: 0 0 5px #000000;

        &-logo {
            padding: 24px 0 15px;
            background: linear-gradient(180deg, #08293A 0%, #051F2C 100%);
            box-shadow: -3px 2px 14px rgba(66, 225, 232, 0.5);

            a {
                display: block;
                width: fit-content;
                margin: 0 auto;
            }
        }

        &-nav {
            width: 240px;
            padding-top: 51px;
        }

        .nav {
            width: 240px;

            &-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            &-link {
                font-family: 'Days One', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 22px;
                color: #D8D8D8;
                display: flex;
                align-items: center;
                transition: all .3s ease-in-out;

                img {
                    margin-right: 10px;
                }

                &:hover, &.active {
                    background: transparent;
                    color: #42E1E8;
                }
            }

            &-hr {
                width: 99%;
                border-top: 1px solid rgba(34, 254, 255, 0.6);
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    width: 2px;
                    height: 2px;
                    border-radius: 50%;
                    background: rgba(34, 254, 255, 0.6);
                }
            }
        }

        &-back_btn {
            font-family: "Days One";
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 22px;
            color: #D8D8D8;
            text-align: left;
            padding: 42px 0 42px 40px;
            border: none;
            position: relative;
            outline: transparent;

            &:hover {
                text-decoration: none;
                color: #0E5C60;
            }

            &:before {
                content: '';
                position: absolute;
                top: 0;
                right: unset;
                left: -23px;
                bottom: 0;
                margin: auto;
                background-image: url('../../../images/menu-back_btn.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                width: 67px;
                height: 32px;
                background-size: contain;
            }
        }

        &-minimizer_none {
            margin: 0;
        }
    }
}

@media screen and (min-width: 992px) {
    html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .main,
    html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .app-footer,
    html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .main,
    html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .app-footer {
        margin-left: 240px;
    }
}

@media screen and (min-width: 768px) {
    html:not([dir="rtl"]) .sidebar-md-show.sidebar-fixed .main,
    html:not([dir="rtl"]) .sidebar-md-show.sidebar-fixed .app-footer,
    html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .main,
    html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .app-footer {
        margin-left: 240px;
    }
}

@media screen and (min-width: 576px){
    html:not([dir="rtl"]) .sidebar-sm-show.sidebar-fixed .main,
    html:not([dir="rtl"]) .sidebar-sm-show.sidebar-fixed .app-footer,
    html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .main,
    html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .app-footer {
        margin-left: 240px;
    }
}

html:not([dir="rtl"]) .sidebar {
    margin-left: -250px;
}

.app-body .sidebar {
    flex: 0 0 240px;
}

.sidebar-fixed .sidebar {
    width: 240px;
}
