button.fc-button.fc-button-primary {
    background: #FCFBFB;
    border: 1px solid #DADCDE;
    box-sizing: border-box;
    padding: 6px 3px 7px;
}

button.fc-button.fc-button-primary span:before {
    color: #18181B;
}

button.fc-button.fc-button-primary:hover,
button.fc-button.fc-button-primary:active {
    background-color: #DADCDE !important;
    border-color: #DADCDE !important;
}

button.fc-button.fc-button-primary:focus {
    box-shadow: none !important;
}

button.fc-prev-button.fc-button.fc-button-primary {
    border-radius: 30px 0px 0px 30px;
}

button.fc-next-button.fc-button.fc-button-primary {
    border-radius: 0px 30px 30px 0px;
}


tr.fc-scrollgrid-section.fc-scrollgrid-section-header > th,
tr.fc-scrollgrid-section.fc-scrollgrid-section-header > th .fc-scroller-harness {
    //border-radius: 10px 10px 0 0;
}

.fc .fc-scrollgrid-section > td {
    border-radius: 10px;
}


table.fc-col-header {
    background-color: #D8D8D8;

    .fc-col-header-cell-cushion {
        font-family: 'Inter';
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #2B4754 !important;
        text-transform: uppercase;
    }
}

.fc-theme-standard .fc-scrollgrid {
    border-radius: 10px;
}

.demo-app {
    display: flex;
    min-height: 100%;
    font-size: 14px;
    position: relative;
    .fc-more-popover-misc{
        display: none;
    }
    .fc {
        max-width: 100%;
        margin: 0 auto;

        .fc-toolbar {
            width: fit-content;

            .fc-toolbar-title {
                width: 150px;
                margin: 0 1px !important;
                background: #FCFBFB;
                border: 1px solid #DADCDE;
                box-sizing: border-box;
                font-family: 'Inter';
                font-weight: normal;
                font-size: 12px !important;
                line-height: 16px;
                text-align: center;
                color: #18181B;
                padding: 10px 17px;
                text-transform: capitalize;
            }
        }

        .fc-h-event {
            background: #D8D8D84D;
            border-radius: 30px !important;
            border-color: #D8D8D84D;

            .fc-event-title {
                font-family: 'Inter';
                font-size: 11px;
                line-height: 13px;
                /*color: #778192;*/
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .fc-daygrid-event {
            margin-top: 3px;
            padding: 4px 12px;
        }

        .fc-day-other {
            .fc-daygrid-day-top {
                color: #D8D8D8;
                opacity: 1 !important;
            }
        }

        .fc-daygrid-day-top {
            display: flex;
            flex-direction: row !important;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
            color: #2B4754;
        }

        .fc-daygrid-day.fc-day-today {
            background-color: transparent !important;

            .fc-daygrid-day-top {
                font-family: 'Inter';
                font-weight: 800;
                font-size: 16px;
                line-height: 32px;
                color: #00B0CB;
            }
        }

        .fc-daygrid-day-frame {
            padding: 4px 8px;
            background-color: #fff;
        }

        .fc-daygrid-day-number {
            position: relative;
            z-index: 4;
            padding: 0;
            line-height: 16px;
        }

        .cell-top {
            width: 100%;
            display: flex;
            align-items: center;

            p {
                margin: 0;
            }
            .calendar-btn-ico {
                background: transparent;
                border: none;
                padding: 0px;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    opacity: .7;
                }
            }
            .add_event {
                background: transparent;
                border: none;
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 0 0 auto;

                &:hover {
                    opacity: .7;
                }
            }

            .menu, .drop-menu {
                list-style-type: none;
                padding: 0;
                margin: 0;
            }

            .menu-item {
                display: inline-block;
                position: relative;

                & > a {
                    text-decoration: none;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &:hover .drop-menu {
                    display: block;
                }
            }

            .drop-menu {
                display: none;
                position: absolute;
                background-color: #fff;
                min-width: 121px;
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
                z-index: 40;
                left: -90px;

                .drop-menu-item {
                    width: 100%;
                    padding: 0 5px;
                    box-sizing: border-box;

                    &:hover {
                        background-color: #eee;
                    }

                    a {
                        font-family: 'Mulish';
                        font-size: 11px;
                        line-height: 18px;
                        color: #000000;
                        text-decoration: none;

                        svg {
                            width: 15px;
                        }
                    }
                }
            }
        }
    }
}

//.calendar-dropdown {
//    .multiselect {
//        font-family: "Mulish";
//        font-style: normal;
//        font-weight: normal;
//        font-size: 14px;
//        line-height: 20px;
//        letter-spacing: 0.2px;
//        color: #6A6B6B;
//        max-width: 400px;
//
//        &__tags {
//            background: #FFFFFF;
//            border: 1px solid #DADCDE !important;
//            border-radius: 5px !important;
//            padding: 8px 40px 0px 12px;
//        }
//
//        &__select {
//            position: absolute;
//            width: 40px;
//            height: 38px;
//            right: 1px;
//            top: 1px;
//            padding: 4px 8px;
//            text-align: center;
//            transition: transform .2s ease;
//
//            &:before {
//                position: absolute;
//                right: 0;
//                top: 0;
//                left: 0;
//                bottom: 0;
//                margin: auto;
//                border: none;
//                content: "";
//                background-image: url(/images/arrow.svg?407c913…);
//                background-position: center;
//                background-repeat: no-repeat;
//                background-size: contain;
//                width: 12px;
//                height: 6px;
//                display: block;
//            }
//        }
//
//        &__option--highlight {
//            background: #4CCBD133 !important;
//        }
//    }
//}

.demo-app-sidebar {
    width: 300px;
    line-height: 1.5;
    background: #eaf9ff;
    border-right: 1px solid #d3e2e8;
}

.demo-app-sidebar-section {
    padding: 2em;
}

.demo-app-main {
    flex-grow: 1;
}

/*---dropdown---*/

.calendar-dropdown_container {
    position: absolute;
    right: 0;

    @media screen and (max-width: 1300px) {
        position: static;
        margin-bottom: 15px;
    }

    .calendar-dropdown {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 250px;

        select {
            width: 100%;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            padding: 10px 21px 9px 21px;
            margin: 0;
            text-indent: 0.01px;
            background: #FFFFFF;
            border: 1px solid #DADCDE;
            box-sizing: border-box;
            border-radius: 30px;
            font-family: "Mulish";
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 150%;
            letter-spacing: 0.02em;
            color: #333333;
            cursor: pointer;
            outline: transparent;

            option {
                padding: 12px;
                min-height: 40px;
                line-height: 16px;

                &:hover {
                    background: #4CCBD133 !important;
                }
            }

            &[disabled] {
                color: rgba(0, 0, 0, .3);
            }

            &[disabled]::after {
                color: rgba(0, 0, 0, .1);
            }
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            pointer-events: none;
        }

        &::after { /*  calendar dropdown arrow */
            content: "";
            line-height: 1;
            right: 14px;
            top: 0;
            bottom: 0;
            margin: auto;
            background-image: url("../../../images/arrow-light.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 12px;
            height: 6px;
        }

        &::before { /*  calendar dropdown arrow cover */
            width: 35px;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: #00B0CB;
            border: 1px solid #DADCDE;
            box-sizing: border-box;
            border-radius: 0px 30px 30px 0px;
        }

        &::after {
            color: rgba(0, 0, 0, .4);
        }
    }
}

/*---dropdown---*/
